{#
 # Produce a bind style list of items
 # Add a semi colon after each items
 #
 # @param string|list set : item or set of items to stringify
 # @return string
 #}
{%- macro stringify(set,delimiter=',') -%}
{{ set if set is string else set|join(delimiter) }}
{%- endmacro -%}

{#
 # Produce a sudoers Defaults line(s)
 #
 # @param dict spec : the parameters of the specification
 # @return string
 #}
{%- macro defaults(default) -%}
{%   if default is mapping %}
{%     for name, values in default.iteritems() if name not in ['host', 'user', 'command', 'runas'] %}
{%       if values is string %}
Defaults{{ '@'~default.host if default.host is defined else (':'~default.user if default.user is defined else ('!'~default.command if default.command is defined else ('>'~default.runas if default.runas is defined else '' ) ) ) }}   {% if name != 'defaults' %}{{ name }} = {% endif %}{{ '"'~values~'"' if ' ' in values else values }}
{%       else  %}
{%         for value in values %}
Defaults{{ '@'~default.host if default.host is defined else (':'~default.user if default.user is defined else ('!'~default.command if default.command is defined else ('>'~default.runas if default.runas is defined else '' ) ) ) }}   {{ name }} {% if not loop.first %}+{% endif %}= {{ '"'~value~'"' if ' ' in value else value }}
{%         endfor %}
{%       endif %}
{%     endfor %}
{%   else %}
Defaults   {{ default }}
{%   endif %}
{%- endmacro -%}

{#
 # Produce a sudoers specification line
 #
 # @param dict spec : the parameters of the specification
 # @return string
 #}
{%- macro specification(spec) -%}
{% set users = stringify(spec.users) %}
{% set hosts = stringify(spec.hosts|d('ALL')) %}
{% set commands = spec.commands|d([{'commands': 'ALL', 'run_as_user': 'ALL'}]) %}
# {{ spec.comment|d(spec.name) }}
{{ users }} {{ hosts }}={% if commands is string %}{{ commands }}{% else %}{% for cmd in commands %}{{ command(cmd) }}{% endfor %}{% endif %}
{%- endmacro -%}

{#
 # Produce the 'commands' part of a sudoers specification line
 #
 # @param dict command : the parameters of the command specification
 # @return string
 #}
{%- macro command(spec) -%}
{% if spec.run_as_user is defined or spec.run_as_group is defined %}({{ stringify(spec.run_as_user|d('')) }}{{ ':'~stringify(spec.run_as_group) if spec.run_as_group is defined else '' }}){% endif %} {% if spec.tags is defined %} {{ stringify(spec.tags,':') }}: {% endif %}{{ stringify(spec.commands) }}
{%- endmacro -%}
