{%- import '_macros.j2' as macros with context -%}
##
## {{ ansible_managed }}
##

# Defaults specification

{% for default in sudoers__defaults %}
{{ macros.defaults(default) }}
{% endfor %}

## Host Aliases
{% for alias in sudoers__host_alias|d([]) %}
Host_Alias {{ alias.name }} = {{ alias.hosts|join(',') }}
{% endfor %}

## User Aliases
{% for alias in sudoers__user_alias|d([]) %}
User_Alias {{ alias.name }} = {{ alias.users|join(',') }}
{% endfor %}

## Run As Aliases
{% for alias in sudoers__runas_alias|d([]) %}
Runas_Alias {{ alias.name }} = {{ alias.users|join(',') }}
{% endfor %}

## Command Aliases
{% for alias in sudoers__cmnd_alias|d([]) %}
Cmnd_Alias {{ alias.name }} = {{ alias.commands|join(',') }}
{% endfor %}


## Main specifications
{% for spec in sudoers__sudoers_specifications %}
{{ macros.specification(spec) }}
{% endfor %}

## Read drop-in files from folder (the # here does not mean a comment)
#includedir {{ sudoers__include_dir }}
